@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --background: #000000;
        --item-background: #39546a;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #1f1f1f;
        --background: #ececec;
        --item-background: antiquewhite;
    }
}

body
{
    background-color: var(--background);
}
h1
{
    text-align: center;
}
